<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Práctica</title>
    </head>
    <body>
        <!-- 1 Seccion para crear el boton de agregar... llamara a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
        
        </section>
        
        <!-- 2 Fragmento para agregar categoria, es la ventana modal-->
        <section th:fragment="agregarArbol">
        
        </section>
        
        <!-- 3 Seccion principal para mostrar la informacion de la entidad categoria-->
        <section th:fragment="listadoArboles" id="arboles">
        
        </section>
        
        <!-- 4 Fragmento que se utiliza en la pagina modifica.html-->
        <section th:fragment="editarArbol">
        
        </section>
        
        <!-- 5 Fragmento que se utiliza en el fragmento anterior-->
        <section th:fragment="botonesEditar">
        
        </section>
            
    </body>
</html>
